.list-cont {
  width: 320px;
  box-shadow: 5px 13px 13px #00000040;
  margin-bottom: 20px;
}
.image {
  height: 250px;
  width: 320px;
}
.grid-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  width: 320px;
  height: 200px;
  background-color: transparent;
  margin-top: 0px;
  padding: 20px;
  text-align: center;
}
.para {
  font-style: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #887c68;
  text-align: start;
}
.heading {
  font-style: "Open Sans";
  font-weight: 400;
  font-size: 24px;
  color: #887c68;
  text-align: start;
}
.cont {
  background-color: #f8f8f8;
  width: 320px;
  height: 90px;
  text-align: start;
  padding: 20px;
  margin-top: 0px;
  box-sizing: border-box;
}
.heading2 {
  font-style: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #887c68;
  text-align: center;
}
